@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
@model LeanKit.ReleaseManager.Controllers.ProductOwnerDashboardViewModel

<h2>Product Owner Dashboard</h2>

<ul id="time-period-options">
    <li><strong>Select Period:</strong></li>
    @foreach(var period in Model.TimePeriods) 
    {
        <li class="time-option@(period.Selected ? " selected" : "")">
            @if(period.Selected)
            {
                @period.Label
            }
            else
            {
                <a href="?timePeriod=@period.Value">@period.Label</a>
            }
        </li>
    }
</ul>

<div>
    <div class="dashboard-item">
        <h3>Releases</h3>
        <div class="dashboard-bigtext-container">
            <span class="dashboard-bigtext">@Model.ReleaseCount</span>
        </div>
    </div>
    <div class="dashboard-item">
        <h3>Tickets Completed</h3>
        <div class="dashboard-bigtext-container">
            <span class="dashboard-bigtext">@Model.TicketsCompletedCount</span>
        </div>
    </div>
    <div class="dashboard-item">
        <h3>Complexity Points Completed</h3>
        <div class="dashboard-bigtext-container">
            <span class="dashboard-bigtext">@Model.ComplexityPointsReleased</span>
        </div>
    </div>
    <div class="dashboard-item">
        <h3>Average Cycle Time</h3>
        <div class="dashboard-bigtext-container">
            <span class="dashboard-bigtext">@Model.AverageCycleTime</span><span class="dashboard-bigtext-units"> day@(Model.AverageCycleTime != 1 ? "s" : "")</span>
        </div>
    </div>
    <div class="dashboard-item double-width">
        <h3>Releases @Model.SelectedTimePeriodFriendlyName</h3>
        
        <ul class="po-dashboard-release-list">
            @foreach(var release in @Model.Releases)
            {
                <li><a href="/Release/@release.Id">@release.Day (@release.FormattedDate) included @release.TicketCount ticket@(@release.TicketCount != 1 ? "s" : "")</a> <span class="po-dashboard-chg-id">@release.ServiceNowId</span></li>
            }
        </ul>
    </div>
    <div class="dashboard-item double-width">
        <h3>Blockages @Model.SelectedTimePeriodFriendlyName</h3>
    </div>
</div>

<table id="ticket-cycle-time">
    <tr>
        <th class="ticket-title">Ticket</th>
        <th class="ticket-started">Started</th>
        <th class="ticket-released">Finished</th>
        <th class="ticket-release">Release</th>
        <th class="ticket-estimate">Size</th>
        <th class="ticket-cycle-time">Cycle Time</th>
    </tr>
    @Html.Partial("CycleTimeTicketList", Model.Tickets)
</table>