@model LeanKit.ReleaseManager.Controllers.UpcomingReleasesViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeanKit.Release Manager</title>
    
    <link href="~/Assets/css/site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Upcoming Releases</h1>
        
        @if (Model.Releases.Any())
        {
            <ul id="releases">
                @foreach (var release in Model.Releases)
                {
                    <li class="release-entry">
                        <div class="legend-block" style="background-color: @release.Color"></div> @release.DateFriendlyText, @release.TicketCount ticket@(release.TicketCount != 1 ? "s" : string.Empty)
                    </li>
                }
            </ul>
        }

        <ul id="lanes">
            @foreach(var lane in Model.Lanes)
            {
                <li class="lane-column">
                    <div class="column-header">@lane.Title</div>
                
                    @foreach(var ticket in lane.Tickets)
                    {
                        <div class="ticket" style="background-color: @ticket.Color">
                            <div class="ticket-id">@ticket.ExternalId</div>
                            @ticket.Title
                            <ul class="ticket-approvals">
                                <li>BAT</li>
                                <li>SEO</li>
                            </ul>
                        </div>
                    }
                </li>
            }
        </ul>
        
        <h2>Create New Release</h2>
        Select ticket(s) to begin
        <div>
            <ul id="day-selector">
                <li>Today</li>
                <li>Tomorrow</li>
                <li>Wednesday</li>
                <li>Thursday</li>
                <li>Friday</li>
                <li>Later</li>
            </ul>
        </div>
    </div>
    
    <script type="text/javascript" src="~/Assets/js/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var nextColour = '@Model.NextReleaseColor';

            $('#day-selector').on('click', 'li', function () {
                $(this).css('background-color', nextColour);
                $(this).siblings().css('background-color', 'auto');
            });
        });



    </script>
</body>
</html>
