@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
@model LeanKit.ReleaseManager.Controllers.ListOfReleasesViewModel

<h1>All Releases</h1>

@Html.Partial("TimePeriodList", Model.TimePeriods)

<table id="release-table">
    <tr>
        <th class="release-id">ID</th>
        <th class="svn-revision">SVN Revision</th>
        <th class="service-now">Service Now ID</th>
        <th class="planned-start-date">Planned Start</th>
        <th class="actual-start-date">Actual Start</th>
        <th class="actual-end-date">Actual End</th>
        <th class="actual-duration">Actual Duration</th>
        <th class="no-tickets">No. Tickets</th>
        <th class="rolled-back">Rollback?</th>
    </tr>
    @foreach(var release in Model.Releases)
    {
        <tr class="release-row" data-release-id="@release.Id">
            <td class="release-id"><a href="/Release/@release.Id">@release.Id</a></td>
            <td class="svn-revision">@release.SvnRevision</td>
            <td class="service-now">@release.ServiceNowId</td>
            <td class="planned-start-date">@release.FormattedPlannedDate</td>
            <td class="actual-start-date">@release.FormattedActualStartedDate</td>
            <td class="actual-end-date">@release.FormattedActualEndDate</td>
            <td class="actual-duration">@release.FormattedActualDuration</td>
            <td class="no-tickets">@release.NumberOfIncludedTickets</td>
            <td class="rolled-back">@if (release.WasRolledBack) {<div class="releases-item-was-rolled-back" title="@release.RollbackReason"></div>}</td>
        </tr>
    }
</table>

@section Javascript
{
    <script type="text/javascript">
        $('#release-table').on('click', '.release-row', function () {
            window.location = '/Release/' + $(this).data('releaseId');
        });
    </script>
}
