@model LeanKit.ReleaseManager.Models.ReleaseDetailViewModel

@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<div>
    <h1>Release Details</h1>
    <nav class="options-bar">
        <ul>
            <li class="release-note">Release Notes</li>
            @if (!Model.Status.HasStarted)
            {
                <li class="reschedule">Reschedule</li>
            }
            @if (!Model.Status.HasCompleted)
            {
                <li class="mark-as-complete">Complete</li>
            }
        </ul>
    </nav>
    
    <h2>Scheduling</h2>
    <div class="scheduling-entry">Planned for: @Model.PlannedTime.StartFriendlyText @Model.PlannedTime.Duration</div>
    @if(Model.Status.HasStarted)
    {
        <div class="scheduling-entry">Started: @Model.ActualTime.StartedFriendlyText</div>
    }
    @if (Model.Status.HasCompleted)
    {
        <div class="scheduling-entry">Completed: @Model.ActualTime.CompletedFriendlyText (took @Model.ActualTime.Duration mins)</div>     
    }
        

    <h2>Current Status:</h2>
    <div id="release-status">
        <div id="release-status-indicator" class="@Model.Status.CssClass"></div>
        @Model.Status.Text
    </div>
    <h2>Included Tickets</h2>
    <nav class="options-bar">
        <ul>
            <li class="edit-content">Edit Included Tickets</li>
        </ul>
    </nav>
    <ul id="ticket-list">
        @foreach(var ticket in Model.IncludedTickets)
        {
            <li>
                <div class="ticket-item">
                    <div class="ticket-id">@ticket.ExternalId</div>
                    @ticket.Title
                    <div class="ticket-bottom-bar">
                        <div class="ticket-size">Size: @ticket.Size</div>
                        <div class="ticket-activity">Ready for Release</div>
                    </div>
                </div>
                
                <ul class="ticket-approval-list" style="display: none;">
                    <li class="approval-item"><div class="approval-indicator approved"></div>BAT - approved</li> 
                    <li class="approval-item"><div class="approval-indicator"></div>SEO - requested</li> 
                </ul>
            </li>
        }
    </ul>
</div>