@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
@model LeanKit.ReleaseManager.Models.CycleTimeViewModel

<h2>Ticket Cycle Time</h2>

<table id="ticket-cycle-time">
    <tr>
        <th class="ticket-id">ID</th>
        <th class="ticket-title">Title</th>
        <th class="ticket-started">Started</th>
        <th class="ticket-release">Release</th>
        <th class="ticket-released">Released</th>
        <th class="ticket-cycle-time">Cycle Time</th>
    </tr>
    @foreach (var ticket in Model.Tickets)
    {
    <tr class="ticket-row">
        <td class="ticket-id">@ticket.ExternalId</td>
        <td class="ticket-title">@ticket.Title</td>
        <td class="ticket-started">@ticket.StartedFriendlyText</td>
        <td class="ticket-release"><a href="/Release/@ticket.Release.Id">@ticket.Release.Name</a></td>
        <td class="ticket-released">@ticket.FinishedFriendlyText</td>
        <td class="ticket-cycle-time">@ticket.Duration</td>
    </tr>
    }
</table>