@model LeanKit.ReleaseManager.Models.ReleaseDashboard.ReleaseDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<div id="refresh-timer">
    <div id="refresh-progress"></div>
    <div id="refresh-text">0%</div>
</div>
<h2>Current Release</h2>
<h3>SVN: 90527, Service-Now: CHG0006722, Started at: 14:00</h3>

<ul class="release-progress">
    @foreach (var deploymentGroup in Model.ServerStatus.DeploymentGroups)
    {
        <li class="release-deployment-group">
            <ul class="deployment-group-release-progress">
                @foreach (var server in deploymentGroup.Servers)
                {
                    <li class="deployment-group-release-server">
                        <div class="deployment-group-release-server-label">
                            @server.Host
                        </div>
                    </li>
                }
            </ul>
            <div>@deploymentGroup.Name</div>
        </li>
        
    }
</ul>

<h2>Server Status</h2>
<h3>Web</h3>
<ul class="server-list">
    @foreach (var server in Model.ServerStatus.DeploymentGroups.First(g => g.Name == "Web").Servers)
    {
        <li class="server-item">
            <a href="http://@(server.Host).tlrg.org" target="_blank">@server.Host.ToUpper()</a>
            <div class="server-status-indicator"></div>
            <div class="server-current-status">Unknown</div>
            <div class="server-current-version">?</div></li>
    }
</ul>

<div class="half-width">
    <h3>SSL</h3>
    <ul class="server-list">
        @foreach (var server in Model.ServerStatus.DeploymentGroups.First(g => g.Name == "SSL").Servers)
        {
            <li class="server-item">
                <a href="http://@(server.Host).tlrg.org" target="_blank">@server.Host.ToUpper()</a>
                <div class="server-status-indicator"></div>
                <div class="server-current-status">Unknown</div>
                <div class="server-current-version">?</div></li>
        }
    </ul>
</div>

<div class="half-width">
    <h3>AU</h3>
    <ul class="server-list">
        @foreach (var server in Model.ServerStatus.DeploymentGroups.First(g => g.Name == "AU").Servers)
        {
            <li class="server-item">
                <a href="http://@(server.Host).tlrg.org" target="_blank">@server.Host.ToUpper()</a>
                <div class="server-status-indicator"></div>
                <div class="server-current-status">Unknown</div>
                <div class="server-current-version">?</div></li>
        }
    </ul>
</div>

@section Javascript
{
    <script type="text/javascript">
        $(function() {
            var allServers = $('.server-item');
            var timerProgress = $('#refresh-progress');
            var timerText = $('#refresh-text');
            var deferreds = [];
            var refreshAll = function () {
                var progress = 0;
                var outOf = allServers.size();

                allServers.each(function() {
                    var item = $(this);
                    var refreshIndicator = $('status-pending', item);
                    var url = $('a', item).text();

                    if (!refreshIndicator.length) {
                        refreshIndicator = $('<div class="status-pending"></div>').appendTo(item);
                    }

                    deferreds[deferreds.length] = $.ajax({
                        url: '/ReleaseDashboard/Status',
                        data: {
                            server: url
                        },
                        cache: false,
                        success: function (data) {
                            var status = data.Status;
                            $('.server-current-status', item).text(status);
                            $('.server-status-indicator', item)[0].className = 'server-status-indicator ' + status.toLowerCase();
                            $('.server-current-version', item).text(data.Version || '?');
                            progress++;
                            
                            refreshIndicator.addClass('hidden');

                            var progressPercent = Math.floor((progress / outOf) * 100);
                            timerProgress.css('width', progressPercent + '%');
                            timerText.text(progressPercent + '%');
                        }
                    });
                });

                $.when.apply($, deferreds).then(function () {
                    setTimeout(refreshAll, 1000);
                });
            };

            refreshAll();
        });
    </script>
}
